# Data Science Tools and Ecosystem

In this notebook, Data Tools and Ecosystem are summarized.

#Exercise 4- 
Some of the popular languages that Data Scientists use are:

1.Python

2.SQL

3.R

#Exercise 5 - Create a markdown cell to list data science libraries


Some of the commonly used libraries used by Data Scientists include:

1. Pandas

2. Numpy

3. SKlearn

#Exercise 6 - Create a markdown cell with a table of Data Science tools

In [3]:
import pandas as pd

#Create a DataFrame
data = {'Data Science Tools': ['Jupyter Notebook', 'RStudio', 'VS Code with Python']}
df = pd.DataFrame(data)

#Display the DataFrame
df.head9

    Data Science Tools
0     Jupyter Notebook
1              RStudio
2  VS Code with Python

#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

### Below are a few examples of evaluating arithmetic expressions in Python.

#Exercise 8 - Create a code cell to multiply and add numbers

 This a simple arithmetic expression to mutiply then add integers

In [7]:
a=(3*4)+5
print(a)

17

#Exercise 9 - Create a code cell to convert minutes to hours

 This will convert 200 minutes to hours by diving by 60

In [9]:
hr=200/60
print(hr,' Hours in 200 Minutes')

3.3333333333333335  Hours in 200 Minutes

#Exercise 10 - Insert a markdown cell to list Objectives

List popular languages for Data Science

In [10]:
# Define a list of data science languages
data_science_languages = [
    "Python",
    "R",
    "Julia",
    "SQL (for data manipulation and retrieval)",
    "Scala"
]

# Iterate through the list and print each item with a bullet point
for language in data_science_languages:
    print(f"- {language}")

- Python
- R
- Julia
- SQL (for data manipulation and retrieval)
- Scala

#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Jibran Hasnain Jalali